<h1>Alerta - Ciudadano -</h1>
<form method="POST" action="/ciudadano-alerta">
	<textarea name="question" id="question" placeholder="Agregue una descripción para el reporte"></textarea>
	<button id="send">Enviar Alerta</button>
</form>