<html>
<head>
	<title>Home</title>
</head>
<body>
	<br><br><br>
	<!-- Imprimiendo mongoDb -->
	<div class="container">
		<h2>Mis Alertas</h2>
  		<p>A continuación se presentan las alertas de los ciudadanos:</p>
  		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">Alerta</th>
					<th class="text-center">Fecha</th>
      			</tr>
   			</thead>
   			<tbody>
   				{{#each alertas}}
				<tr>
					<td class="text-center">{{this.question}}</td>
        			<td class="text-center">{{this.fechaQuestion}}</td>
        		</tr>
        		{{/each}}
    		</tbody>
  		</table>
	</div>
</body>
</html>
