<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>- Index -</h1>
	<br>
	<a href="/alert">Ir a alertas</a>
	<br><br><br>
	<!-- Imprimiendo mongoDb -->
	{{#each alertas}}
		- {{this}}
		<br>
	{{/each}}
</body>
</html>
